/* ===== Root Theme Variables ===== */
:root {
  --primary: #caef45;
  --secondary: #28292f;
  --accent: #caef45;

  --border: #eaeaea;
  --shadow: rgba(0, 0, 0, 0.1);

  --font-heading: "Urbanist", "Poppins", sans-serif;
  --font-body: "Urbanist", "Poppins", sans-serif;
}

:root {
  --background: #28292f;
  --foreground: #ecf6ed;

  --heading: #ffffff;
  --text: #c1c1c1;
  --muted-text: #2c2c2c;

  --divider: #caef45;
  --icon: #caef45;
  --section: #1c1d20;

  --link: #c1c1c1;
  --link-hover: #caef45;

  --button-bg: #caef45;
  --button-text: #233050;
  --button-border: #caef45;
  --button-hover-bg: #ffffff;
  --button-hover-text: #233050;
  --button-hover-border: #ffffff;

  --input-bg: #ffffff;
  --input-border: #c1c1c1;
  --input-focus-bg: #ffffff;
  --input-focus-border: #c1c1c1;
}

/* ===== Base Styles ===== */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-body) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link) !important;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--link-hover) !important;
}

section {
  padding: 30px 0px;
}

section:nth-child(odd) {
  background: var(--section) !important;
}

.row,
.col {
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading) !important;
  font-weight: 600 !important;
  padding: 10px 0px !important;
  text-transform: capitalize !important;
  line-height: 1.2em !important;
  font-family: var(--font-heading) !important;
}

h1 {
  font-size: 70px !important;
  background: linear-gradient(to right, #ffffff 30%, #caef45 70%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
h2 {
  font-size: 45px !important;
  background: linear-gradient(to right, #ffffff 10%, #caef45 90%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
h3 {
  font-size: 24px !important;
}
h4 {
  font-size: 20px !important;
}
h5 {
  font-size: 18px !important;
}
h6 {
  font-size: 16px !important;
}

hr {
  color: var(--divider) !important;
  height: 5px;
  background-color: var(--divider);
}

p {
  color: var(--text);
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 20px !important;
  line-height: 1.5em !important;
}

span {
  color: var(--accent);
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  line-height: 1.2em;
}

ul li {
  font-size: 18px;
  color: var(--text);
}

.breadcrumb-item.active,
.breadcrumb-item:before {
  color: var(--text) !important;
}

/* ===== Buttons ===== */
button {
  background: var(--button-bg) !important;
  color: var(--button-text) !important;
  border: 1px solid var(--button-border) !important;
  box-shadow: none !important;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

button:hover {
  background: var(--button-hover-bg) !important;
  color: var(--button-hover-text) !important;
  border: 1px solid var(--button-hover-border) !important;
}

.ctaButton {
  background: var(--button-bg) !important;
  color: var(--button-text) !important;
  margin: 10px 0px !important;
  padding: 10px 20px !important;
  font-family: var(--font-heading) !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  line-height: 1.2em !important;
  border: 1px solid var(--button-border) !important;
  border-radius: 25px !important;
  transition: all 0.3s ease !important;
}

.ctaButton:hover {
  color: var(--link-hover) !important;
  background-color: transparent !important;
}

/* ===== Inputs ===== */
input,
textarea {
  background: var(--input-bg) !important;
  border: 1px solid var(--input-border) !important;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  transition: border-color 0.3s ease, background 0.3s ease;
}
input:focus,
input:active,
textarea:focus,
textarea:active {
  background: var(--input-focus-bg) !important;
  border: 1px solid var(--input-focus-border) !important;
  outline: none !important;
  box-shadow: none !important;
}

/* ===== FAQs Styles =====*/
.faq-container .faq-item,
.faq-container .faq-item:hover {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  margin-bottom: 15px !important;
}

.faq-container .faq-item .faq-question .accordion-button {
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  font-family: var(--font-heading) !important;
  line-height: 1.2em !important;
  padding: 15px 20px !important;
  border-radius: 25px !important;
  border: 1px solid #caef45 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.faq-container .faq-item .faq-question .accordion-button:hover,
.faq-container .faq-item .faq-question .accordion-button:not(.collapsed) {
  background-color: #caef45 !important;
  color: #233050 !important;
}

.faq-container .faq-item .faq-question .accordion-button.collapsed::after {
  color: #ffffff !important;
}

.faq-container .faq-item .faq-answer {
  color: var(--text) !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
  padding: 15px 20px !important;
}

/* ===== Mega Menu Styles ===== */
.header {
  background-color: #1c1d20;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.header-logo {
  width: 25%;
}

.header-menu {
  width: 75%;
}

.brand-logo {
  width: 75%;
  height: auto;
}

.header-nav .nav-link {
  color: var(--heading) !important;
  font-size: 18px;
  font-weight: 400 !important;
  line-height: 1.2em;
}

.header-nav-icon {
  color: var(--accent) !important;
}

.header-ctaButton {
  background: var(--button-bg) !important;
  color: var(--button-text) !important;
  border: 1px solid var(--button-border) !important;
  padding: 10px 20px !important;
  cursor: pointer;
  font-size: 18px !important;
  font-weight: 600 !important;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.header-ctaButton:hover {
  color: var(--link-hover) !important;
  background-color: transparent !important;
}

.mega-menu-dropdown .dropdown-menu {
  width: 100vw;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  background: transparent;
}

.mega-menu-link:hover {
  color: var(--link-hover);
}

.mega-menu-panel {
  background-color: var(--section);
}

.mega-menu-panel .mega-menu-link span {
  color: var(--heading);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: capitalize;
}

.mega-menu-panel .mega-menu-link:hover span {
  color: var(--link-hover);
}

.mega-menu-panel .mega-menu-link p {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.5em;
}

.work-menu-dropdown .dropdown-menu {
  background: var(--section);
}

.work-menu-dropdown .dropdown-menu .dropdown-item {
  background: transparent;
}

/* Desktop Behavior */
@media (min-width: 992px) {
  .mega-menu-dropdown .dropdown-menu {
    display: none !important;
  }
  .mega-menu-dropdown:hover .dropdown-menu {
    display: block !important;
  }
}

/* Responsive Adjustment */
@media (max-width: 991.98px) {
  .mega-menu-panel {
    padding: 0 !important;
    box-shadow: none !important;
  }
}

/* ===== Stats Styling ===== */
.statValue {
  color: #ffffff00;
  font-size: 100px !important;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: var(--primary);
  stroke: var(--primary);
  text-shadow: 15px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ===== Banner Styles ==== */
.banner {
  position: relative;
  min-height: 450px;
  z-index: 1;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65) !important;
  z-index: 0;
}

.banner .container,
.banner .row,
.banner .col {
  position: relative;
  z-index: 1;
}

/* ===== Carousel Controls ===== */
.homeBanner .carousel-indicators {
  transform: rotate(90deg);
  left: 50% !important;
  top: 0;
  z-index: 99 !important;
}

/* ===== Counter Container =====*/
.counter-container {
  cursor: pointer;
}

.counter-container .counter {
  visibility: hidden;
  background-color: #28292f;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #caef45;
  border-radius: 5px 5px 5px 5px;
}

.counter-container:hover .counter {
  visibility: visible;
}

.counter-container .counter-label {
  width: 70%;
  color: #28292f;
  background-color: #ffffff;
  font-family: var(--font-heading);
  font-size: 18px;
  font-weight: 600 !important;
  line-height: 1.2em;
  padding: 5px 20px 5px 20px;
  border-radius: 5px 5px 5px 5px;
}

/* ===== Home Products =====*/

.product-card-container {
  cursor: pointer;
}

.product-card-container .product-card {
  display: none;
  background-color: #28292fe0;
  border-radius: 10px;
  padding: 20px;
}

.product-card-container:hover .product-card {
  display: block;
}

.product-card-container .product-card .product-card-title {
  color: #ffffff;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.2em;
}

.product-card-container .product-card .product-card-description {
  color: #c1c1c1;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.5em;
}

.product-card-container .product-card .product-card-link {
  color: #caef45 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.2em;
  transition: color 0.3s ease;
}

/* ===== Marquee Styles ===== */
.service-marquee-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.service-marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
}

.service-marquee-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  margin-right: 25px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.service-marquee-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.service-icon {
  font-size: 1.5rem;
  color: #cfff00;
}

.service-title {
  font-size: 1.1rem;
  font-weight: 500;
}

/* === Animation === */
@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* === Responsive === */
@media (max-width: 768px) {
  .service-heading {
    font-size: 1.8rem;
  }

  .service-marquee-item {
    padding: 8px 18px;
    margin-right: 15px;
  }

  .service-icon {
    font-size: 1.2rem;
  }

  .service-title {
    font-size: 1rem;
  }
}

/* ===== Service Tabs ===== */

.service-nav-arrow {
  cursor: pointer !important;
  color: #caef45 !important;
  background: transparent !important;
  padding: 8px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: var(--font-heading) !important;
  line-height: 1.2em !important;
  border: 1px solid var(--button-border) !important;
  border-radius: 100% !important;
  transition: all 0.3s ease !important;
}

.service-nav-arrow:hover {
  color: var(--button-text) !important;
  background: var(--button-bg) !important;
}

.service-tab-title {
  padding: 10px 20px !important;
  color: #ffffff !important;
  background-color: #28292f !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: var(--font-heading) !important;
  text-transform: capitalize !important;
  line-height: 1.2em !important;
  border-radius: 5px !important;
}

.service-tab-title:hover,
.service-tab-title.active {
  background-color: #caef45 !important;
  color: #233050 !important;
}

/*===== Timeline Styles =====*/
.timeline-wrapper {
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 12%;
  bottom: 12%;
  width: 3px;
  background: #d0ff63;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.timeline-item.left {
  justify-content: flex-start;
}

.timeline-item.right {
  justify-content: flex-end;
}

.timeline-card {
  width: 45%;
  background-color: #1b1d20 !important;
  padding: 20px;
  text-align: center;
  border: 1px solid #28292f;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.timeline-card h3 {
  color: #d0ff63 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  text-transform: capitalize !important;
  margin-bottom: 10px !important;
}

.timeline-card p {
  color: #c1c1c1;
  font-size: 18px !important;
  line-height: 1.5em !important;
}

.timeline-icon {
  position: absolute;
  left: 50%;
  bottom: 35%;
  transform: translateX(-50%);
  background: #d0ff63;
  color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border: 4px solid #1b1c20;
  z-index: 10;
}

.timeline-item .timeline-step {
  position: absolute;
  transform: translateX(-50%);
  color: #d0ff63;
  font-weight: 600 !important;
  font-size: 14px !important;
  top: 47%;
}

.timeline-item.left .timeline-step {
  left: 56%;
}

.timeline-item.right .timeline-step {
  right: 51%;
}

.timeline-item.left .timeline-card::after,
.timeline-item.right .timeline-card::after {
  content: "";
  position: absolute;
  top: 46%;
  border: 10px solid;
}

.timeline-item.left .timeline-card::after {
  right: -20px;
  border-color: transparent transparent transparent #d0ff63;
}

.timeline-item.right .timeline-card::after {
  left: -20px;
  border-color: transparent #d0ff63 transparent transparent;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .timeline-line {
    left: 20px;
  }

  .timeline-item {
    justify-content: flex-start !important;
    margin-left: 40px;
  }

  .timeline-card {
    width: 80%;
  }

  .timeline-icon {
    left: 20px;
    transform: translateX(0);
  }

  .timeline-step {
    left: 20px;
    transform: none;
  }

  .timeline-item.left .timeline-card::after,
  .timeline-item.right .timeline-card::after {
    display: none;
  }
}

/* ===== Responsive Typography ===== */
@media (max-width: 768px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  h3 {
    font-size: 20px !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  p {
    font-size: 15px !important;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  p {
    font-size: 14px !important;
  }
}
